.l-header{
    width: 100%;
    margin-top: 20px;
    position: fixed;
    a{
        text-decoration: none;
        color: #fff;
    }

    &__wrap{
        display: flex;
        justify-content: center;
        &__logo{
            width: 500px;
            font-size: 28px;
            font-family:'Dancing Script',sans-serif;
        }
        nav{
            width: 500px;
            ul{
                display: flex;
                justify-content: space-evenly;
    
                a{
                    font-family: 'Poppins', Medium;
                    font-size: 12px;
                }           
            }
        }
    }
}